body {
    background-color: #212121;
    color: #FFFFFF;
    font-family: Roboto, serif;
    margin: 0;
}

p {
    margin: 0;
}

section {
    margin: 5px;
}

h4 {
    margin-bottom: 3px;
}

header {
    overflow: hidden;
    background-color: #000000;
    font-size: 2vw;
}

