body {
    background-color: #212121;
    color: #ffffff;
    font-family: Roboto, Arial, Verdana sans-serif;
    margin: 0;
}

.navbar {
    background-color: #000000;
    overflow: hidden;
}

.navbar nav a {
    display: block;
    float: left;
    padding: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.navbar a:hover {
    background-color: #111111;
}

.title {
    overflow: hidden;
    text-align: center;
    background-color: rgba(4, 170, 109, 0.8);
}

.title h1 {
    font-size: 2.75em;
}

.title h2 {
    font-size: 2em;
}

a:link {
    color: rgb(4, 170, 109);
}

a:visited {
    color: rgb(4, 126, 170);
}

a:hover {
    color: rgba(200, 170, 109);
}

.lightTheme {
    background-color: white;
    color: black;
}

.lightThemeIcon {
    display: block;
    float: right;
    padding: 15px;
    font-size: 1.25em;
}

.lightThemeTitle {
    color: #ffffff;
}

.lightThemeIconDark {
    color: #858585;
}
